@charset "utf-8";
/* CSS Document */

/* Global Styles ========================================================================= */
.clr { clear:both; }

/* Blog List: Pager ========================================================================= */
.blog-wrapper .pager { text-align: center; border: none; }
.blog-wrapper .pager .pages { float: none; }
.blog-wrapper .pager .pages strong { float: none; }

/* Blog Summary ========================================================================= */
.blog.blog-summary.last article { border-bottom: none; }

/* Blog Category / Post ========================================================================= */
.blog article.post  { border-bottom:1px solid #efefef; margin-bottom:20px; padding-bottom:10px; }
.blog article.post .post-title { min-height: 35px; float: left; border-bottom:0; margin:0; }

.blog article.post .post-metadata { min-height: 35px; float: right; }
.blog article.post .post-metadata > * { display: inline; line-height: 35px; }


.blog article.post .post-summary,
.blog article.post .post-content { clear: both; padding-top: 10px; }

.blog article.post .post-summary .read-more { padding-bottom:5px; }
.blog article.post .post-info { padding:0; }
.blog article.post .post-info .post-categories li  { display:inline; }
.blog article.post .post-info ul.post-categories { float:left; }
.blog article.post .post-info li.post-comments { float:right; }


/* Blog Commenting ========================================================================= */
.blog-detail .comments-list { }
.blog-detail .comments-list li { border-bottom:1px solid #efefef; padding:10px 0px 20px; margin-bottom:10px; }
.blog-detail .comments-list .comment-metadata { margin-bottom:10px; }
.blog-detail .comments-list .comment-metadata h4 { display:inline; }
.blog-detail .comments-list .comment-metadata li { display:inline; border:none; }


/* Block: Blog ========================================================================= */
.block-blog { }
.block-blog .block-content { padding:8px 12px; }

/* Widget: Latest Posts ========================================================================= */
.blog-latest-widget {  }
.widget-blog-link { display:block; text-align:left; }